{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>

	<div class="my-purchase">
		{{> heading title="Мої замовлення"}}

		{{#with data}}
		<form method="POST" action="/my-purchase" class="form-card"></form>
			<div class="row">
				<p>ID: </p>
				<div class="col">
					<p>Товар</p>
					<p> {{text}} </p>
				</div>
				<div class="col">
					<p>Сума замовлення</p>
					<p> {{totalPrice}} </p>
				</div>
				<div class="col">
					<p>Нараховані бонуси</p>
					<p> {{bonus}} </p>
				</div>
			</div>
			</form>
		{{/with}}
		{{> divider}}
	</div>
	
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}