{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}


<form method="POST" action="/product-list">
	
	<div class="card_list">
		<div class="alert_text">
			<p class="card_title">Успішне виконання дії</p>
			<p class="card_-body">Товар був успішно видалений</p>
		</div>
		
		<a href="/product-list" class="alert_button">Повернутись назад</a>
		
	</div>

</form>

  

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}