@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

.main {
	display: flex;
	flex-direction: column;
	gap: s.space(10);
	padding: s.space(10);
}

.form-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: s.space(5);
	padding: s.space(5);
	border: 1px solid rgba(128, 128, 128, 0.414);
	border-radius: 10px;
}

.row {
	display: grid;
	gap: 10px;
}



.col {
	display: flex;
	justify-content: space-between;
	gap: 18px;
}

.col1 {
	display: grid;
	gap: 10px;
}