<div class="product_card">
	<h3 class="card_title">Назва товару</h3>
	<p class="card_body">Опис товару</p>
	<div class="id">ID:{{id}}</div>
	<div class="horizont">
		<div class="card_price">Ціна товару</div>
		<a href="/product-edit?id={{id}}" class="card_button">Редагувати</a>
	</div>
</div>